body {
    /* color: coral; */
    background-image: url(../img/bg.jpg);
    background-size: 100%;
}

#status {
    background-color: RED;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 15px;
}

#new-note {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-bottom: 5px;
}

hr {
    margin-bottom: 15px;
}

#list-note {
    background-color: rgba(23, 23, 23, 0.2);
    width: 80%;
    margin-left: 10%;
    height: 500px;
    overflow-y: auto;
}

.note,
#list-note>* {
    background-color: khaki;
    border: 1px solid Black;
    border-radius: 5px;
    box-shadow: 10px 10px 25px black;
}

.vue-note {
    display: inline-block;
    width: auto;
    min-width: 200px;
    max-width: 300px;
    margin-top: 10px;
    margin-left: 10px;
}


/* Gestion des inputs du formulaire */

.max-center-in-form {
    width: 90%;
    margin-left: 5%;
}

#nom-note {
    margin-bottom: 5px;
    text-align: center;
    display: block;
}

#date-note,
#heure-note {
    width: 75px;
}

.center {
    text-align: center;
}


/* #description-note {} */